.app-info {
    padding: 25px;
    background: linear-gradient(90deg, #47649e, #133357);
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.app-info h3 span {
    color: #3ee059;
}

.app-info h2 span {
    color: #e09f3e;
}
