.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item .btn-raport {
    color: #6b2a1f;
    transition: 0.4s all;
    opacity: 0.5;
}

.btn-raport:hover {
    opacity: 1;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.list-group-item .btn-set-attention {
    color: #d89bd0;
    transition: 0.4s all;
    opacity: 0.7;
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-treatment {
    color: #e09f3e;
    transition: 0.4s all;
    opacity: 0.5;
}

.btn-treatment:hover {
    opacity: 1;
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.list-group-item .fa-comment-medical {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #19b723;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item.special-attention .fa-comment-medical {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label,
.list-group-item.increase .list-group-item-input {
    color: #e09f3e;
}

.list-group-item.increase .btn-star {
    color: #aeaeae;
}
