.animals-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #12515d;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
    h3 {
        margin: 0;
        font-size: 24px;
    }
    &__add-form {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        input {
            width: 350px;
            height: 40px;
            margin: 5px 20px 0 0;
            padding: 0 0 0 15px;
            border-radius: 4px;
            border: 0;
            &:focus {
                outline: none;
                box-shadow: 0px 0px 4px white;
            }
        }
    }
    &__modal-message {
        position: relative;
        padding: 15px 20px 45px 20px;
        color: black;
        background-color: white;
        font-size: 18px;
        border-radius: 4px;
        animation: block-appearance duration timing-function delay iteration-count direction fill-mode;
        i {
            padding: 3px;
            transform: scale(1.9);
            position: absolute;
            bottom: 12px;
            left: 48%;
            cursor: pointer;
            color: #12515d;
            transition: 0.3s all;
            &:hover {
                transform: scale(2.2);
            }
        }
    }
}
