.app-info {
  &__list {
    list-style-type: none;
    padding: 5px 25px;
    background-color: #12515d;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
    li {
      font-size: 25px;
      font-weight: 500;
      h2 {
        font-size: 34px;
        margin: 10px 0;
      }
      &:nth-child(3) {
        span {
          color: rgb(96, 224, 96);
        }
      }
      &:nth-child(4) {
        span {
          color: rgb(250, 173, 39);
        }
      }
      &:nth-child(5) {
        margin: 0 0 10px 0;
        span {
          color: rgb(211, 0, 0);
        }
      }
    }
  }
}
