@import './../../styles/variables.scss';

.btn-default {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  height: 40px;
  margin: 5px;
  border: none;
  color: $titleColor;
  transition: 0.3s all;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    box-shadow: 0px 0px 15px $titleColor;
    border: none;
  }
}
.btn-default-light {
  box-shadow: 0px 0px 15px $titleColor;
  border: none;
  transform: scale(1.1);
  cursor: auto;
}
.btn-group {
  margin-bottom: 30px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  background: $firstColor;
  border-radius: 25px;
  box-shadow: 0px 0px 15px $titleColor;
}
