@import '../../styles/variables.scss';
@import '../../styles/animation.scss';

.animals-list {
  background: $firstColor;
  border-radius: 25px;
  box-shadow: 0px 0px 15px $titleColor;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px $titleColor;
  color: black;
  margin: 0;
  position: relative;
  animation: block-appearance 0.6s 0s forwards, sliding-on-right-side ease-out 0.4s 0s forwards;
  right: -50%;
  top: 0;
}
