@import '../../../styles/variables.scss';
@import '../../../styles/animation.scss';

.daily-report {
  width: 700px;
  min-height: 800px;
  margin: 0 auto;
  background: $firstColor;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px $titleColor;
  animation: block-appearance 0.6s 0s forwards, sliding-on-left-side ease-out 0.4s 0s forwards;
  position: relative;
  top: 0;
  left: -50%;
  &__title {
    margin: 0 0 15px 0;
    font-size: 24px;
    text-align: center;
    color: $titleColor;
  }
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 25px;
    background: $secondColor;
  }
  &__item {
    margin-top: 15px;
    flex: 0 0 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: block-appearance 0.6s 0.2s forwards;
    opacity: 0;
  }
  &__subtitle {
    flex: 0 0 100%;
    margin: 0 0 10px 0;
    font-size: 20px;
    text-align: center;
    color: $titleColor;
  }
  &__label {
    margin: 0;
    flex: 0 0 50%;
    display: block;
    font-size: 18px;
    font-weight: 600;
    p {
      margin: 4px 0;
    }
  }
  &__input {
    max-width: 100px;
    flex: 0 0 50%;
    align-self: center;
    padding: 0 0 0 5px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    outline: none;
    font-size: 17px;
    &:focus {
      box-shadow: 0px 0px 4px $titleColor;
    }
  }
  &__textarea {
    flex: 0 0 90%;
    align-self: center;
    padding: 5px 0 0 5px;
    max-height: 100px;
    border: 0;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    resize: none;
    &:focus {
      box-shadow: 0px 0px 4px $titleColor;
    }
  }
  &__submit-button {
    position: absolute;
    bottom: 131px;
    right: 72px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    animation: block-appearance 0.6s 0.8s forwards;
    i {
      padding: 3px;
      transform: scale(2.6);
      position: absolute;
      bottom: 12px;
      left: 48%;
      cursor: pointer;
      color: $titleColor;
      transition: 0.3s all;
      &:hover {
        transform: scale(3);
      }
    }
  }
}
.formik-error-message {
  align-self: center;
  color: red;
  font-size: 20px;
  font-weight: 700;
  animation: block-appearance 0.6s forwards;
  opacity: 0;
}
