.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #12515d;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
}
.app-add-form h3 {
    margin: 0;
    font-size: 24px;
}
.add-form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.add-form input {
    width: 350px;
    height: 40px;
    margin: 5px 20px 0 0;
    padding: 0 0 0 15px;
    border-radius: 4px;
    border: 0;
}
.add-form input:focus {
    outline: none;
    box-shadow: 0px 0px 4px white;
}
