@import '../../../../../styles/variables.scss';

.animal-profile-ration-item {
  display: flex;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-bottom: solid 2px $firstColor;
  &:last-child {
    border-radius: 0 0 25px 25px;
  }
  &__item {
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      flex: 0 0 80%;
    }
    &:nth-child(2) {
      flex: 0 0 20%;
    }
  }
}
