@import '../../../styles/animation.scss';
@import '../../../styles/variables.scss';

.personal-profile {
  &__main {
    position: relative;
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }
  &__data {
    flex: 1 1 50%;
  }
  &__info {
    padding: 25px;
    background: $tabBackgroundColor;
    border-radius: 25px;
    box-shadow: 0px 0px 15px $titleColor;
    margin-bottom: 30px;
  }
  &__graphics {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__main-button-bar-wrap {
    padding: 25px;
    background: $tabBackgroundColor;
    border-radius: 25px;
    box-shadow: 0px 0px 15px $titleColor;
    position: absolute;
    bottom: 38%;
    left: 39%;
    animation: block-appearance 1.2s 0.6s forwards;
    opacity: 0;
  }
  &__main-button-bar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: rgba(#12515d, 0.6);
    display: flex;
    border-radius: 4px;
    button {
      margin: 0 20px 0 0;
      width: 60px;
      height: 60px;
      border-radius: 4px;
      border: none;
      background-color: rgb(21, 21, 21);
      cursor: pointer;

      i {
        transform: scale(2.4);
        transition: 0.3s all;
      }
      &:hover {
        i {
          transform: scale(3);
        }
      }
      &:nth-child(1) {
        color: rgb(211, 0, 0);
      }
      &:nth-child(2) {
        color: rgb(96, 224, 96);
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    animation: block-appearance 1.5s 0s forwards, sliding-on-left-side 1s 0s forwards;
    position: relative;
    top: 0;
    left: -50%;
  }
  &__ration {
    
    background: $tabBackgroundColor;
    border-radius: 25px;
    box-shadow: 0px 0px 15px $titleColor;
    padding: 25px;
    animation: block-appearance 1.5s 0s forwards, sliding-on-bottom-side 1s 0s forwards;
    position: relative;
    bottom: -50%;
    left: 0;

    h3 {
      margin: 0;
      font-size: 24px;
      text-align: center;
      color: #12515d;
    }
    p {
      display: inline;
    }
    input {
      margin: 5px 5px 0 0;
      padding: 0 0 0 5px;
      height: 36px;
      border: 0;
      border-radius: 4px;
      border: 0;
      outline: none;
      font-size: 17px;
      &:focus {
        box-shadow: 0px 0px 4px #12515d;
      }
    }
  }
  &__ration-total {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 18px;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 4px;
  }
  &__left-info-block {
    flex: 0 1 45%;
  }
  &__right-info-block {
    flex: 0 1 45%;
    h3 {
      margin: 0 0 15px 0;
      font-size: 24px;
      text-align: center;
      color: #12515d;
    }
    p {
      margin: 5px 0 0 0;
      font-size: 20px;
    }
    input {
      max-width: 40%;
      margin-bottom: 5px;
      padding: 0 0 0 5px;
      height: 36px;
      border: 0;
      border-radius: 4px;
      border: 0;
      outline: none;
      font-size: 17px;
      &:focus {
        box-shadow: 0px 0px 4px #12515d;
      }
    }
  }
  &__right-info-block-item {
    display: flex;
    justify-content: space-between;
  }
  &__photo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
  &__health-bar {
    margin: 15px 0 0 0;
    padding: 15px;
    background-color: rgba(#12515d, 0.6);
    display: inline-block;
    align-items: center;
    max-width: 100%;
    border-radius: 4px;
    button {
      width: 60px;
      height: 60px;
      margin: 0 20px 0 0;
      border-radius: 4px;
      border: none;
      background-color: rgb(21, 21, 21);
      cursor: pointer;
      &:hover {
        i {
          transform: scale(3);
        }
      }
      i {
        transform: scale(2.4);
        transition: 0.3s all;
      }
      &:nth-child(1) {
        color: rgb(96, 224, 96);
      }
      &:nth-child(2) {
        color: rgb(250, 173, 39);
      }
      &:nth-child(3) {
        color: rgb(211, 0, 0);
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  &__top-graphic {
    margin: 0 0 30px 30px;
    padding: 25px;
    display: flex;
    align-items: center;
    background: $tabBackgroundColor;
    border-radius: 25px;
    box-shadow: 0px 0px 15px $titleColor;
    height: 100%; 
    animation: block-appearance 1.5s 0s forwards, sliding-on-top-side 1s 0s forwards;
    position: relative;
    left: 0;
    top: -50%;
  }
  &__bot-graphic {
    margin-left: 30px;
    max-height: 900px;
    background: $tabBackgroundColor;
    border-radius: 25px;
    box-shadow: 0px 0px 15px $titleColor;
    padding: 25px;
    max-height: 300px;
    animation: block-appearance 1.5s 0s forwards, sliding-on-right-side 1s 0s forwards;
    position: relative;
    right: -50%;
    top: 0;
  }
}
